.bp-image-widget {
  max-width: 100%;
  margin: 16px;
}

.image-widget-one-half {
  display: block;
  margin: 16px auto;
  width: 50%;
}

// .image-widget-full {
  // The defaults work well here
// }
