.grid-layout-columns {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 16px;
}

.grid-layout-column {
  grid-column: var(--start) / var(--end);
}

@media (max-width: 1023px) {
  .grid-layout-column {
    grid-column: 1 / 12;
  }
}
