{% set widget = data.widget %}

<div class="container is-fluid mb-6">
  <div
    class="grid-layout-widget"
    style="
      --columns: 12;
      --rows: 1;
      --gap: 1rem;
      --padding: 1rem;
      --margin: auto;    
    "
  >
    {% for column in widget.columns %}
      <div
        class="grid-layout-area"
        style="        
          --col-start: {{ column.colStart }};
          --col-span: {{ column.colSpan }};
          --row-start: 1;
          --row-span: 1;
        "
      >
        {% area column, 'content' %}
      </div>
    {% endfor %}
  </div>
</div>